<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="laklab.inc.sens" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.facebook.LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopActivity"
            android:label="@string/title_activity_annual_calender" >
        </activity>
        <activity
            android:name=".CalenderActivity"
            android:label="@string/title_activity_annual_calender" >
        </activity>
        <activity
            android:name=".MakeTaskActivity"
            android:label="@string/title_activity_making_task" >
        </activity>
        <activity
            android:name=".ListEventsActivity"
            android:label="@string/title_activity_listing_events" >
        </activity>
        <activity
            android:name=".MakeEventActivity"
            android:label="@string/title_activity_making_new_event" >
        </activity>
        <activity
            android:name=".MypageActivity"
            android:label="@string/title_activity_mypage" >
        </activity>
        <activity
            android:name=".ChooseEventActivity"
            android:label="@string/title_activity_choose_event" >
        </activity>
        <activity
            android:name=".DetailEventActivity"
            android:label="@string/title_activity_event_detail" >
        </activity>
        <activity
            android:name=".DetailTaskActivity"
            android:label="@string/title_activity_detail_tsk" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="android.support.v4.app.FragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
    </application>

</manifest>
